@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

$x-color-orange: #d58e32;
$x-color-light-gray: #e2e2e2;
$x-color-dark-gray: #434343;
$x-color-dark-brown: #363636;
$x-color-white: #ffff;

.navbar-dark {
  background-color: $x-color-dark-brown;
}
.navbar-secondary {
  background-color: $x-color-dark-gray ;
}



.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  background-color: #F8F9FA;
  color: $x-color-orange;
  border-top: 3px solid $x-color-orange;
}
.nav-link {
color: black;
}
.nav-link:hover, .nav-link:focus {
  color: #d58e32;
}
.line-gray{
  height: 3px;
  width: 90%;
  background-color: $x-color-light-gray;

}
.line{
  width: 10%;
  height: 3px;
  background-color: $x-color-orange;
}

.img-item{
  background-image: url(./img/products/top-seller/10.png);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: auto;
}

.circle{
  background-image: url(./img/elem/ellipse.png);
  height: 105px;
  width: 105px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 280px;
  left: 1px;
}
.rate-star-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 275px;
  left: 95px;
  width: 249px;
  height: 106px;
  background-color: $x-color-white;
}
.rate-star-item:before{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  border: 15px solid transparent; border-left: 15px solid $x-color-dark-gray; border-top: 15px solid $x-color-dark-gray;
}
.rate-star-item:after{
  position: absolute;
  content: '';
  border: 15px solid transparent; border-right: 15px solid $x-color-dark-gray; border-bottom: 15px solid $x-color-dark-gray;
  bottom: 0;
  right: 0;
}
.checked{
  color: $x-color-dark-gray;
}
.last-price{
  text-decoration: line-through;
  color: $x-color-white;
}
.current-price{
  color: $x-color-white;
}
.action-btn{
}

.action-btn:hover .add_item{
  display: inline-block;
  color: $x-color-orange;
  margin-left: 60px;
}
.left-sidebar{
  margin-top: 140px;
  margin-bottom: 110px;
  padding-left: 15px;
}
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  color: $x-color-dark-gray;
  border: 1px solid $x-color-dark-gray;
  height: 37px;
  width: 37px;
}
.nav-bar:hover{
  border: 1px solid $x-color-orange;
  color: $x-color-orange;
}
.add_item{
  background-color: $x-color-dark-gray;
  width: 90px;
  height: 26px;
  position: absolute;
  font-size: 12px;
  display: none;
}
.description-container{
  position: relative;
}