$container-max-widths: (
        sm: 320px,
        md: 480px,
        lg: 768px,
        xl: 1200px
);

$primary: #d58e32;
$info: #939393;

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(255, 255, 255, 0);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0);
  outline: 0 none;
}