@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

$x-color-orange: #d58e32;
$x-color-light-gray: #e2e2e2;
$x-color-dark-gray: #434343;
$x-color-dark-brown: #363636;
$x-color-white: #ffff;
$x-color-black: #2a2a2a;
.bgc-black{
  background-color: $x-color-black;
  color: $x-color-white
}
*{
  font-family: 'Poppins', sans-serif;
}

.orange {
  color: $x-color-orange;
}
.white{
  color: $x-color-white;
}
.social-style{
  list-style: none;
  color: #838383;
}
.social-style a {
  color: #838383;
  cursor: pointer;
}
.social-style a:hover{
  color: $x-color-orange;
}
.bgc-light-gray{
  background-color: $x-color-light-gray !important;
}
.bgc-dark-brown{
  background-color: $x-color-dark-brown;
}
.bgc-orange{
  background-color: $x-color-orange;
}
.nopadding {
  padding: 0 !important;
}

.nomargin {
  margin: 0 !important;
}

.navbar-dark {
  background-color: $x-color-dark-brown;
}
.navbar-secondary {
  background-color: $x-color-dark-gray ;
}

.btn-secondary {
  background-color: #434343;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #434343 !important;
  text-decoration: underline;
  box-shadow: none !important;
}

.cross-modal {
  width: 40px;
  height: 40px;
  background-color: #2a2a2a;
  margin-left: auto ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-modal {
  font-size: 13px;
  font-weight: 500;
  width: 115px;
  height: 42px;
}

.fa-times {
  color: white;
  font-size: 18px;
}

.input-group, .form-group {
  border: 1px solid black;
}

.navbar-nav {
  font-size: 14px;
  font-weight: 500;
}
.nav-item:hover {
  text-align: right;
}

.custom-toggler.navbar-toggler {
  border-color: white;
}

#navbarNavAltMarkup {
  z-index: 10;
}

#carouselExampleControls {
  z-index: 5;
}

.fa-mobile-alt {
  color: #d58e32;
  font-size: 32px;
  position: relative;
  top: 6px;
  right: 13px;
}

.orange-cube {
  height: 50px;
  width: 50px;
  background-color: #d58e32;
  font-size: 23px;
  border-radius: 5px;
  padding: 14px 12px;
}

.orange-cube:after {
  content: "";
  height: 28px;
  width: 28px;
  background-color: #363636;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: 25px;
  left: 30px;
}

.modal-content {
  border-radius: 0;
}

.new-price {
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: #2a2a2a;
  width: 100px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
//
//.nav-linked {
//  display: block;
//  padding: 0.5rem 1rem;
//}
//
//.nav-linked:hover, .nav-linked:focus {
//  text-decoration: none;
//}
//
//.nav-linked.disabled {
//  color: #6c757d;
//  pointer-events: none;
//  cursor: default;
//}
//.nav-tabs .nav-linked {
//  border: 1px solid transparent;
//  border-top-left-radius: 0.25rem;
//  border-top-right-radius: 0.25rem;
//}
//
//.nav-tabs .nav-linked:hover, .nav-tabs .nav-link:focus {
//  border-color: #e9ecef #e9ecef #dee2e6;
//}
//
//.nav-tabs .nav-linked.disabled {
//  color: #6c757d;
//  background-color: transparent;
//  border-color: transparent;
//}
//
//.nav-tabs .nav-linked.active,
//.nav-tabs .nav-item.show .nav-link {
//  color: #495057;
//  background-color: #fff;
//  border-color: #dee2e6 #dee2e6 #fff;
//}

.quantity-arrow-minus,
.quantity-arrow-plus {
  cursor: pointer;
  font-size: 20px;
  padding: 5px 12px;
  width: 40px;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}
.quantity-num {
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 4px;
  outline: none;
}


.top-slider{
  height: 500px;
  overflow: hidden;
}
.top-slider-inner{
  overflow: visible;
}
.top-slider-inner img {
  left: 50%;
  max-width: none !important;
  min-height: 400px;
  min-width: 100%;
  position: absolute;
  top: 200px;
  transform: translate(-50%,-50%);
}

.carousel-control-prev {
  left: 0;
  width: 50%;
  background-color: #363636;
  opacity: 1;
  top:auto;
  height: 40px;
}

.carousel-control-next {
  width: 50%;
  background-color: #d58e32;
  opacity: 1;
  top:auto;
  height: 40px;
}


.nav-item-bar{
  position: relative;
  z-index: 1;
}
.carousel-seller{
  position: relative;
  z-index: 2;
}




.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  background-color: #F8F9FA;
  color: $x-color-orange;
  border-top: 3px solid $x-color-orange;
}
.nav-link {
  color: black;
}
.nav-link:hover, .nav-link:focus {
  color: #d58e32;
}
.line-gray{
  height: 3px;
  width: 90%;
  background-color: $x-color-light-gray;

}
.line{
  width: 10%;
  height: 3px;
  background-color: $x-color-orange;
}

.img-item{
  background-image: url(./img/products/top-seller/10.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.circle{
  background-image: url(./img/elem/ellipse.png);
  height: 105px;
  width: 105px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 50px;
  left: 12px;
}
.rate-star-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50px;
  right: 55px;
  width: 249px;
  height: 106px;
  background-color: $x-color-white;
}
.rate-star-item:before{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  border: 15px solid transparent; border-left: 15px solid $x-color-dark-gray; border-top: 15px solid $x-color-dark-gray;
}
.rate-star-item:after{
  position: absolute;
  content: '';
  border: 15px solid transparent; border-right: 15px solid $x-color-dark-gray; border-bottom: 15px solid $x-color-dark-gray;
  bottom: 0;
  right: 0;
}
.checked{
  color: $x-color-dark-gray;
}
.last-price{
  text-decoration: line-through;
  color: $x-color-white;
}
.current-price{
  color: $x-color-white;
}
.action-btn{
}

.action-btn:hover .add_item{
  display: inline-block;
  color: $x-color-orange;
  margin-left: 60px;
}
.left-sidebar{
  margin-top: 140px;
  margin-bottom: 110px;
  padding-left: 15px;
}
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  color: $x-color-dark-gray;
  border: 1px solid $x-color-dark-gray;
  height: 37px;
  width: 37px;
}
.nav-bar:hover{
  border: 1px solid $x-color-orange;
  color: $x-color-orange;
}
.add_item{
  background-color: $x-color-dark-gray;
  width: 90px;
  height: 26px;
  position: absolute;
  font-size: 12px;
  display: none;
}
.description-container{
  position: relative;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  top: 420px;
  height: 70px;
  align-items: center;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-seller{
  height: 88px;
}

.text-tabs{
  font-size: 1.5vw;
}

.carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: auto;;
  height: auto;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #d3d3d3;
  background-clip: padding-box;
  border-top: none;
  border-bottom: none;
  opacity: .5;
  margin-bottom: 0;
  transition: opacity 0.6s ease;
}
.carousel-control-prev, .carousel-control-next{
  bottom: 10px;
}
.fluense-tab{
  display: none;
}
.fluense-tab-x{
  display: none;
}
.carousel-item-img{
  height: 70px;
  width: 70px;
}
.control-panel-l{
  position: relative;
  top: 380px;
}


.carousel-control-item {
  background-color: $x-color-dark-gray;
  top: inherit;
  height: 72px;
  width: 6%;
  opacity: 1;
}

.carousel-all{
  position: relative;
  z-index: 0;
  right: 45px;
}

.carousel-line{
  background-color: $x-color-white;
  height: 10px;
}

.top-seller-item {
  width: 388px;
  padding-right: 70px;
  height: 328px;
}
.carousel-table{
  display: none;
}
.carousel-table-img{
  display: none;
}

.banner{
  display: none;
  height: 603px;
  width: 556px;
  background-color: #e8edf7;
}
.tabs__caption{
  display: flex;
  list-style: none;
}
.section_carousel-slider{
  display: flex;

}
.actives i{
  color: $x-color-orange;
}
.circle-item-768{
  display: none;
}

.tabs__caption{
  display: none;
}

.tabs__content {
  display: none; /* по умолчанию прячем все блоки */
}
.tabs__content.actives {
  display: block; /* по умолчанию показываем нужный блок */
}
.carousel-top-child-desktop{
  margin: 0 auto;
}
.pay-card{
  height: 28px;
  width: 40px;
}
.carousel-top-child{
  display: flex;
  position: absolute;
  left: 0;
}
.carousel-button-inline{
  display: flex;
  position: absolute;
  overflow: visible;
  right: 90px;
  top: 0;
}

.child-order{
  padding-top: 40px;
}
.card-laptop{
  display: none;
}

.child-order-button{
  display: flex;
  position: absolute;
  overflow: visible;
  right: 30px;
  top: 12px;

  //bottom: auto;
}
.carousel-button-slider{
  width: 30px;
  height: 30px;
}
.carousel-card-info{
  position: absolute;
  padding: 0;
  left: 29px;
  width: 300px;
  background-color: $x-color-white;
}
.card-container{
  width: 360px;
}
.card-container-child{
  width: 360px;
  height: 300px;
  position: relative;
  bottom: 60px;
  margin: 0 auto;
}
.card-laptop{
  display: none;
}

.fluense{
  display: none;
}
.fluense-x{
  display: none;
}
.fluense-y{
  display: none;
}
.btn-default{
  height: 30px;
  width: 30px;
  background-color: $x-color-orange;
  align-items: center;
  border: 1px solid $x-color-dark-gray;
}
.prev{
  background-color: #fff;
}

.product_container-btn{
  position: relative;
}
.res:after{
  position: absolute;
  content: "sale";
  top: 0;
  text-align: center;
  font-size: 1.5vw;
  color: #ffffff;
  right: 35%;
  width: 3em;
  height: 1.5em;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  background: $x-color-dark-gray;
  z-index: 40;
  display: none;
}
.my-4:hover .res:after{
  display: block;
}
.my-4:hover .res button{
  display: block;
}
.my-4:hover .bgc-black{
  background-color: $x-color-orange;
}
.card-container:hover h5{
  color: $x-color-orange;
}
.my-4 .res button{
  display: none;
}
.product_btn-action{
  position: absolute;
  top: 84%;
}
.my-4:hover .card-text{
  color: $x-color-orange;
}

.product_btn{
  border: 1px solid black;
  background-color: #ffffff;
}
.product_line{
  width: 100%;
  height: 1px;
  background-color: $x-color-dark-brown;
  position: relative;
}
.product_line:before{
  display: block;
  content: " ";
  //border-top: 4px solid $x-color-orange;
  position: absolute;
  z-index: 20;
  right: 45%;
  height: 0.3rem;
  width: 10%;
  background-color: $x-color-orange;
}


.hide{

display: none !important;
}

.stocks_block-item-1{
  background-image: url(./img/stocks/1.jpg);
  width: 100%;
  height: 420px;
  background-repeat: no-repeat;
}
.flex-center{
  align-items: center;
  justify-content: center;
  display: flex;
}
.filter-color{
  display: flex;
  flex-direction: row;
}
.bgc-red{
  background-color: red;
}
.bgc-blue{
  background-color: dodgerblue;
}
.bgc-green{
  background-color: springgreen;
}
.bgc-pink{
  background-color: deeppink;
}
.bgc-yellow{
  background-color: yellow;
}
.filter-color{
  display: table-cell;
  flex-direction: row;
}
.stocks_block-bg{
  background-color: rgba(0,0,0,0.4);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  width: 489px;
  height: 355px;
}
.stocks_block-sale{
  border: 0.2rem solid #ffffff;
  font-size: 4vw;
  width: 60%;
  height: 50%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-price {
  width: 220px;
  border: 0;
  padding: 0;
  margin: 0;
}

.price-title {
  position: relative;
  color: #fff;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  background: #d58e32;
  padding:10px;
}

.price-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  margin-left: 57px;
  width:78%;
}
.stocks_line {
  width: 100%;
  height: 1px;
  background-color: #363636;
  position: relative;
}

.price-field {
  position: relative;
  width: 100%;
  height: 36px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 0px;
}

.price-field input[type=range] {
  position: absolute;
}

/* Reset style for input range */

.price-field input[type=range] {
  width: 100%;
  height: 7px;
  border: 1px solid #000;
  background-color: #000000;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  -webkit-appearance: none;
}
.filter-category{
  display: flex;
  justify-content: space-between;
}
.filter-category div {
  border-radius: 50%;
  background-color: $x-color-orange;
}
label {
  color: black;
  display: inline-block;
  margin: 0 0 .5em 0;
 padding: 1em 0;
}
.tags button{
  color: #959595;
}
.tags button:focus{
  color: $x-color-orange;
  border: $x-color-orange;
}
.badge{
  position: absolute;
  right: 0;
}
.badge:active{
  color: $x-color-orange;
}

input[type=checkbox]:checked~label {
  color: $x-color-orange;
  background-color: $x-color-white;
}
.price-field input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.price-field input[type=range]:active,
.price-field input[type=range]:focus {
  outline: 0;
}

.price-field input[type=range]::-ms-track {
  width: 188px;
  height: 2px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  background: transparent;
  border-color: transparent;
  color: red;
  border-radius: 5px;
}

/* Style toddler input range */

.price-field input[type=range]::-webkit-slider-thumb {
  /* WebKit/Blink */
  position: relative;
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -4px;
  background-color: #fff;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

.price-field input[type=range]::-moz-range-thumb {
  /* Firefox */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  background-color: #fff;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

.price-field input[type=range]::-ms-thumb  {
  /* IE */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  background-color: #242424;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

/* Style track input range */

.price-field input[type=range]::-webkit-slider-runnable-track {
  /* WebKit/Blink */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #555;
  border-radius: 5px;
}

.price-field input[type=range]::-moz-range-track {
  /* Firefox */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #242424;
  border-radius: 5px;
}

.price-field input[type=range]::-ms-track {
  /* IE */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #242424;
  border-radius: 5px;
}


/* Style for input value block */

.price-wrap {
  display: flex;
  color: #242424;
  align-items: center;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  margin-bottom: 0;
}

.price-wrap-1,
.price-wrap-2 {
  display: flex;
  margin-left: 0px;
}

.price-title {
  margin-right: 5px;
}

.price-wrap_line {
  margin: 6px 0px 5px 5px;
}

.price-wrap #one,
.price-wrap #two {
  width: 30px;
  text-align: right;
  margin: 0;
  padding: 0;
  margin-right: 2px;
  background:  0;
  border: 0;
  outline: 0;
  color: #242424;
  font-family: 'Karla', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
}

.price-wrap label {
  text-align: right;
  margin-top: 6px;
  padding-left: 5px;
}

/* Style for active state input */

.price-field input[type=range]:hover::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.5px #242424;
  transition-duration: 0.3s;
}

.price-field input[type=range]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.5px #242424;
  transition-duration: 0.3s;
}
.white{
  color: #ffffff;
}
.stocks_block-title{
  grid-row: 2;
  grid-column: 1/2;
}
.stocks_block-item-2{
  background-color: #E8EDF7;
  width: 100%;
  height: 195px;
}
.stocks_block-item-2-img-1{
  height: 195px;
  width: 151px;
}
.stocks_block-item-2-img-2{
  height: 195px;
  width: 156px;
  transform: scale(-1, 1);
}
.stocks_block-item-3{
  background-color: #FBF3F7;
  width: 100%;
  height: 195px;
}
.stocks_block-item-2-price{
  color: #D58E32;
}
.stocks_block-item-3-img-1{
  width: 253px;
  height: 193px;
}
.spc-btw{
  justify-content: space-between;
}

@media (min-width: 480px) {
  .rm{
    flex-direction: column;
  }
  .mobile{
    display: none;
  }
  .card-laptop{
    display: flex;
  }
  .fluense-tab-x{
    display: none;
  }
  .res:after{
    font-size: 3vw;
    right: 45%;
  }
  .mobile-version{
    background-color: $x-color-orange !important;
    width: 30px;
    height: 30px;
  }
  .fa-circle{
    display: none;
    color: $x-color-light-gray;
  }
  .btn-default{
    display: flex;
  }
  .navigation{
    display: none;
    width: 10%;
  }

}
@media (min-width: 768px){
  .fluense{
    display: block;
  }
  .mobile{
    display: block;
  }
  .rm{
    flex-direction: row;
  }
  .navigation{
    display: flex;
  }
  .fluense-tab{
    display: block;
  }
  .fluense-tab-x{
    display: block;
  }
  .top-seller-item{
    width: 555px;
    height: 415px;
    padding-right: 138px;
    padding-top: 22px;
  }
  .tabs__caption{
    display: flex;
  }
  .rate-star-item{
    right: 0;
  }
  .circle{
    left: 345px;
    bottom: 280px;
  }
  .rate-star-item{
    bottom: 180px;
    right: 0;
    left: 275px;
    transform: scale(1.05);
  }
  .carousel-list{
    position: absolute;
    z-index: 40;
    top: 480px;
  }
  .carousel-button-slider{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .carousel-button-inline{
    display: flex;
    position: absolute;
    overflow: visible;
    right: 90px;
    top: 12px;
  }

  .carousel-control-next {
    //display: none;
  }
  .carousel-control-prev {
    //display: none;
  }
  .btn-default{
    display: none;
  }
  .carousel-control-prev-icon {
    width: 0;
    background-color: $x-color-light-gray !important;
  }
  .circle-item-768{
    display: flex;
  }
  .fa-chevron-circle-left{
    display: none;
  }
  .fa-chevron-circle-right{
    display: none;
  }
}
@media (min-width: 1200px){
  .res:after{
    font-size: 1.5vw;
    right: 35%;
  }
  .mobile{
    display: block;
  }
  .fluense-x{
    display: block;
  }
  .rm{
    flex-direction: row;
  }
  .fluense-z{
    display: none;
  }
  .btn-default{
    display: none;
  }
  .fluense-tab-x{
    display: none;
  }
  .fluense-tab{
    display: none;
  }
  .d-mute{
    display: none;
  }
  .card-laptop{
    display: block;
  }
  .text-tabs{
    font-size: 1vw;
  }
  .carousel-control-next {
    //display: none;
  }
  .carousel-control-prev {
    //display: none;
  }
  .carousel-control-next-icon {
    width: 0;
  }
  .carousel-control-prev-icon {
    width: 0;
  }
  .banner{
    display: flex;
    padding-left: 15px;
  }
  .sale-info{
    padding-top: 70px;
    padding-left: 62px;
  }
  .line{
    width: 50px;
    height: 3px;
  }
  .line-gray{
    width: 950px;
    height: 3px;
  }
  .banner img {
    width: 467px;
    height: 284px;
    padding-top: 26px;
  }
  .banner-item{
    font-size: 3vw;
    color: $x-color-orange;
  }
  .sale-info-from p {
    font-size: 2vw;
    font-weight: bold;
  }
  .price-sale{
    color: #79ae30;
    font-size: 3vw;
  }
  .section_furniture{
    padding-right: 15px;
    position: relative;
    z-index: 0;
  }
  .line-gray{
    height: 3px;
    width: 80%;
    background-color: $x-color-light-gray;
  }
  .line{
    width: 10%;
  }
  .x{
    display: none;
  }
  .fa-chevron-circle-left{
    display: none;
  }
  .fa-chevron-circle-right{
    display: none;
  }
}
